<div class="container-fluid mt-5 about-style" id="aboutid">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
          
        <h1 class="text-center main-heading">About us </h1>
              <p  class="text-center main-heading">Grow your busniess with us</p>
              <div class="row">
              <div class="col-md-6 col-12 hero-text order-md-0 order-1">
              <figure>
                <img src="images/image.png" alt="heroSection" >
              </figure>
            </div>
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>i am the professional web designer </h1>
              <p>Welcome in the <span>Web development world and i am help to you how you becom web develpor</span></p>
              <button class="btn-style btn-primary">Read More</button>
            
            </div>

            </div>
          </div>
       </div>
     </div>

   </div>